#viewbox {
    overflow: hidden;
    width: 200px;
    height: 200px;
    border: solid 1px #000;
    position: inline;
    float:left;
    display: inline;
}
#viewbox .wrapper {
    position: relative;
}
#viewbox ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#viewbox li {
    display: block;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 170px;
}
.controller {
  float: left;
  clear: left;
}
